<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button defaultHref="/"></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="/assets/img/perfil.jpeg" alt="Foto de perfil" class="profile-picture">
    <h1 class="name">Moises Nuñez del Rosario</h1>
  </div>

  <div class="card-button">
    <ion-card color="success" >
      <ion-card-header>
        <ion-card-title>Teléfono</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        +1 (829) 310-7158
      </ion-card-content>
    </ion-card>
  
    <ion-card color="secondary">
      <ion-card-header>
        <ion-card-title>Flota</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        +1 (809) 501-9471
      </ion-card-content>
    </ion-card>

    <ion-card color="danger">
      <ion-card-header>
        <ion-card-title>Correo Electronico</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        moisesnzr.rd@gmail.com
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
